<div ng-controller="adminCtrl" ng-show="sessionData.userIsAdmin">
    <div class="section resource-manager">
        <!-- table of existing resources -->
        <table>
            <tr>
                <td class="table-header">Title</td>
                <td class="table-header">Author</td>
                <td class="table-header">Publisher</td>
                <td class="table-header">Action</td>
            </tr>
            <tr ng-repeat="r in resources" ng-click="selectRow($index)">
                <td ng-bind="r.title"></td>
                <td ng-bind="r.author"></td>
                <td ng-bind="r.publisher"></td>
                <td>
                    <div class="button" ng-show="!r.hasUnsavedChanges" ng-click="uiControls.showForm=true; uiControls.formData=r; selectRow($index)">Edit Details</div>
                    <div class="button" ng-click="deleteResource(r.id)">Delete</div></td>
            </tr>
        </table>
        <div class="button" ng-click="initNew()">New</div></td>
    </div>


    <!-- detailed form -->
    <div class="section resource-manager" style="padding: 20px; min-height: 500px;" ng-show="uiControls.showForm">
        <form>
            <div style="display: inline-block; width: 375px; vertical-align: top;">
                <h3 ng-show="selectedRow != null">Edit "{{uiControls.formData.title}}"</h3>
                <h3 ng-show="selectedRow == null">Add new course</h3>
                <p>Title: <input type="text" ng-model="uiControls.formData.title" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
                <p>Author: <input type="text" ng-model="uiControls.formData.author" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
                <p>Publisher: <input type="text" ng-model="uiControls.formData.publisher" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
                <p>URL: <input style="width: 200px;" type="text" ng-model="uiControls.formData.url" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
                <p>Description:</p>
                <textarea style="width: 350px; height: 150px;" ng-model="uiControls.formData.description" ng-change="uiControls.formData.hasUnsavedChanges=true"></textarea>
                </p>
            </div>

            <div style="display: inline-block; width: 400px; vertical-align: top;">
                <h4>Set Values</h4>
                <div style="display: inline-block; vertical-align: top; padding: 10px;">
                    Language<br />
                    <input type="radio" ng-model="uiControls.formData.language" value="Ruby" ng-change="uiControls.formData.hasUnsavedChanges=true"> Ruby <br />
                    <input type="radio" ng-model="uiControls.formData.language" value="JavaScript" ng-change="uiControls.formData.hasUnsavedChanges=true"> JavaScript <br />
                    <input type="radio" ng-model="uiControls.formData.language" value="Python" ng-change="uiControls.formData.hasUnsavedChanges=true"> Python <br />
                    <input type="radio" ng-model="uiControls.formData.language" value="PHP" ng-change="uiControls.formData.hasUnsavedChanges=true"> PHP <br />
                    <input type="radio" ng-model="uiControls.formData.language" value="HTML/CSS" ng-change="uiControls.formData.hasUnsavedChanges=true"> HTML/CSS <br />
                    <input type="radio" ng-model="uiControls.formData.language" value="HTML/CSS/JS" ng-change="uiControls.formData.hasUnsavedChanges=true"> HTML/CSS/JS <br />
                    <input type="radio" ng-model="uiControls.formData.language" value="Linux shell" ng-change="uiControls.formData.hasUnsavedChanges=true"> Linux shell <br />
                </div>
                <div style="display: inline-block; vertical-align: top; padding: 10px;">
                    Library/Framework<br />
                    <p ng-show="uiControls.formData.language === '' || uiControls.formData.language === 'HTML/CSS'">
                        <input type="radio" ng-model="uiControls.formData.framework" value="none" ng-change="uiControls.formData.hasUnsavedChanges=true"> none<br />
                    </p>
                    <div ng-show="uiControls.formData.language === 'Ruby'">
                        <input type="radio" ng-model="uiControls.formData.framework" value="none" ng-change="uiControls.formData.hasUnsavedChanges=true"> none<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="Sinatra" ng-change="uiControls.formData.hasUnsavedChanges=true"> Sinatra<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="Rails" ng-change="uiControls.formData.hasUnsavedChanges=true"> Rails<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="Rails API" ng-change="uiControls.formData.hasUnsavedChanges=true"> Rails API<br />
                    </div>
                    <div ng-show="uiControls.formData.language === 'Python'">
                        <input type="radio" ng-model="uiControls.formData.framework" value="none" ng-change="uiControls.formData.hasUnsavedChanges=true"> none<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="Django" ng-change="uiControls.formData.hasUnsavedChanges=true"> Django<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="Flask" ng-change="uiControls.formData.hasUnsavedChanges=true"> Flask<br />
                    </div>
                    <div ng-show="uiControls.formData.language === 'JavaScript'">
                        <input type="radio" ng-model="uiControls.formData.framework" value="none" ng-change="uiControls.formData.hasUnsavedChanges=true"> none<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="jQuery" ng-change="uiControls.formData.hasUnsavedChanges=true"> jQuery<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="AngularJS" ng-change="uiControls.formData.hasUnsavedChanges=true"> AngularJS<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="Backbone.js" ng-change="uiControls.formData.hasUnsavedChanges=true"> Backbone.js<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="Ember" ng-change="uiControls.formData.hasUnsavedChanges=true"> Ember<br />
                    </div>
                    <div ng-show="uiControls.formData.language === 'PHP'">
                        <input type="radio" ng-model="uiControls.formData.framework" value="none" ng-change="uiControls.formData.hasUnsavedChanges=true"> none<br />
                        <input type="radio" ng-model="uiControls.formData.framework" value="CakePHP" ng-change="uiControls.formData.hasUnsavedChanges=true"> CakePHP<br />
                    </div>
                </div>
                <div style="display: inline-block; vertical-align: top; padding: 10px;">
                    Difficulty<br />
                    <input type="radio" ng-model="uiControls.formData.difficulty" value="n00b" ng-change="uiControls.formData.hasUnsavedChanges=true"> n00b<br />
                    <input type="radio" ng-model="uiControls.formData.difficulty" value="beginner" ng-change="uiControls.formData.hasUnsavedChanges=true"> beginner <br />
                    <input type="radio" ng-model="uiControls.formData.difficulty" value="intermediate" ng-change="uiControls.formData.hasUnsavedChanges=true"> intermediate <br />
                    <input type="radio" ng-model="uiControls.formData.difficulty" value="advanced" ng-change="uiControls.formData.hasUnsavedChanges=true"> advanced <br />
                </div>
                <div style="display: inline-block; vertical-align: top; padding: 10px;">
                    Cost<br />
                    <input type="radio" ng-model="uiControls.formData.cost" value="free" ng-change="uiControls.formData.hasUnsavedChanges=true"> free<br />
                    <input type="radio" ng-model="uiControls.formData.cost" value="budget-friendly" ng-change="uiControls.formData.hasUnsavedChanges=true"> budget-friendly <br />
                    <input type="radio" ng-model="uiControls.formData.cost" value="pricey" ng-change="uiControls.formData.hasUnsavedChanges=true"> pricey <br />
                </div>
                <div style="display: inline-block; vertical-align: top; padding: 10px;">
                    Predominant format<br />
                    <input type="radio" ng-model="uiControls.formData.format" value="text" ng-change="uiControls.formData.hasUnsavedChanges=true">text<br />
                    <input type="radio" ng-model="uiControls.formData.format" value="video" ng-change="uiControls.formData.hasUnsavedChanges=true">video<br />
                    <input type="radio" ng-model="uiControls.formData.format" value="interaction" ng-change="uiControls.formData.hasUnsavedChanges=true">interaction<br />
                </div>
                <div style="display: inline-block; vertical-align: top; padding: 10px;">
                    Environment<br />
                    <input type="radio" ng-model="uiControls.formData.environment" value="none" ng-change="uiControls.formData.hasUnsavedChanges=true"> none<br />
                    <input type="radio" ng-model="uiControls.formData.environment" value="local" ng-change="uiControls.formData.hasUnsavedChanges=true"> local<br />
                    <input type="radio" ng-model="uiControls.formData.environment" value="in browser" ng-change="uiControls.formData.hasUnsavedChanges=true"> in browser<br />
                </div>
                <div ng-show="selectedRow != null" class="button" style="display: block;" ng-show="uiControls.formData.hasUnsavedChanges" ng-click="updateResource(selectedRow)">Save Changes</div>
                <div ng-show="selectedRow == null" class="button" style="display: block;" ng-show="uiControls.formData.hasUnsavedChanges" ng-click="addResource()">Add Course</div>
            </div>

        </form>
    </div>

</div>