<div ng-controller="adminCtrl" ng-show="sessionData.userIsAdmin">

    <div class="section resource-manager">
        <!-- table of existing resources -->
        <table>
            <tr>
                <td class="table-header">Title</td>
                <td class="table-header">Publisher</td>
                <td class="table-header">URL</td>
                <td class="table-header">Difficulty</td>
                <td class="table-header">Free?</td>
                <td class="table-header">Tags</td>
                <td class="table-header">Action</td>
            </tr>
            <tr ng-repeat="r in resources" ng-click="selectRow($index)">
                <td><input type="text" ng-model="r.title" ng-change="r.hasUnsavedChanges=true"></td>
                <td><input type="text" ng-model="r.publisher" ng-change="r.hasUnsavedChanges=true"></td>
                <td><input type="text" style="width: 50px;" ng-model="r.url" ng-change="r.hasUnsavedChanges=true"></td>
                <td><input type="text" style="width: 50px;" ng-model="r.difficulty" ng-change="r.hasUnsavedChanges=true"></td>
                <td><input type="checkbox" ng-model="r.free" ng-change="r.hasUnsavedChanges=true"></td>
                <td>
                    <span class="tag" ng-repeat="tag in r.tags" ng-bind="tag"></span>
                    <a href="javascript:" ng-click="r.tagAddInProgress=true">+</a>
                        <span ng-show="r.tagAddInProgress">
                            <input type="text" ng-model="newTag">
                            <button type="submit" ng-click="r.tags.push(newTag); resetTagForms();">Submit</button>
                        </span>
                </td>
                <td><div class="button" ng-show="r.hasUnsavedChanges" ng-click="updateResource($index)">Save Changes</div>
                    <div class="button" ng-show="!r.hasUnsavedChanges" ng-click="uiControls.detailEditInProgress=true; uiControls.formData=r; uiControls.selectedResource=$index">Edit Details</div>
                    <div class="button" ng-click="deleteResource(r.id)">Delete</div></td>
            </tr>

            <!-- quick tr form to add a new resource -->
            <tr ng-show="!uiControls.detailEditInProgress">
                <form>
                    <td><input type="text" ng-model="uiControls.formData.title" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><input type="text" ng-model="uiControls.formData.publisher" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><input type="text" style="width: 50px;" ng-model="uiControls.formData.url" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><input type="text" style="width: 50px;" ng-model="uiControls.formData.difficulty" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><input type="checkbox" ng-model="uiControls.formData.free" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td>
                        <span class="tag" ng-repeat="tag in uiControls.formData.tags" ng-bind="tag"></span>
                        <a href="javascript:" ng-click="uiControls.formData.tagAddInProgress=true">+</a>
                        <span ng-show="uiControls.formData.tagAddInProgress">
                            <input type="text" ng-model="newTag">
                            <button type="submit" ng-click="uiControls.formData.tags.push(newTag); resetTagForms();">Submit</button>
                        </span>
                    </td>
                    <td><div class="button" ng-show="uiControls.formData.hasUnsavedChanges" ng-click="addResource()">Save Changes</div></td>
                </form>
            </tr>
        </table>
    </div>

    <!-- detailed edit panel -->
    <div class="section resource-manager" style="padding: 20px; min-height: 500px;" ng-show="uiControls.detailEditInProgress">
        <form>
            <h3>Edit "{{uiControls.formData.title}}"</h3>
            <p>Name: <input type="text" ng-model="uiControls.formData.title" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
            <p>Publisher: <input type="text" ng-model="uiControls.formData.publisher" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
            <p>Difficulty: <input type="text" ng-model="uiControls.formData.url" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
            <p><input type="checkbox" ng-model="uiControls.formData.free" ng-change="uiControls.formData.hasUnsavedChanges=true"> This course is free</p>
            <p>Description:</p>
            <textarea style="width: 900px; height: 150px;" ng-model="uiControls.formData.description" ng-change="uiControls.formData.hasUnsavedChanges=true"></textarea>
            </p>
            <p>Tags: <span class="tag" ng-repeat="tag in uiControls.formData.tags" ng-bind="tag"></span></p>
            </p>
            <a href="javascript:" ng-click="uiControls.formData.tagAddInProgress=true">Add tag</a>
                <span ng-show="uiControls.formData.tagAddInProgress">
                    <input type="text" ng-model="newTag">
                    <button type="submit" ng-click="uiControls.formData.tags.push(newTag); resetTagForms(); uiControls.formData.hasUnsavedChanges=true">Submit</button>
                </span>
            </p>
            <div class="button" ng-show="uiControls.formData.hasUnsavedChanges" ng-click="updateResource(selectedRow)">Save Changes</div>
        </form>
    </div>

</div>