<div ng-controller="coursesCtrl">
    <div class="section">
        <div ng-repeat="c in courses" style="border: 1px solid black; padding: 15px;">
            <h3><a href="{{c.url}}"><span ng-bind="c.title"></span> (<span ng-bind="c.difficulty"></span>)</a></h3>
            <p ng-show="c.free" style="color: green">FREE</p>
            <p ng-bind="c.author"></p>
            <p ng-bind-html-unsafe="c.description"></p>
            <div style="float: right;" ng-show="sessionData.userIsLoggedIn && !c.enrolled" class="button" ng-click="createEnrollment($index, c.id)">Enroll</div>
            <p ng-show="c.enrolled"><em>You are enrolled in this course. To work on it, visit your <a href="#/dashboard">dashboard</a>.</em></p>
            <br style="clear: both;" />
        </div>
    </div>
</div>
