<div ng-controller="dashCtrl" ng-show="sessionData.userIsLoggedIn" style="position:relative;">

    <div class="section" style="padding: 10px;" ng-show="notebookIndex.length === 0">
        There's nothing here yet. <a href="#/courses">Go enroll</a> in some courses!
    </div>

    <!-- column of progress bars -->
    <div ng-show="notebookIndex.length > 0">
        <div ng-hide="noteInProgress" class="progress-bars">
            <div class="progress-section" ng-repeat="i in notebookIndex" ng-click="selectNotebookItem($index)" ng-class="{selectedResource: uiControls.selectedNotebookItem===$index}">
                <div>
                    <div class="resource-header"><div class="resource-title" ng-bind="i.title"></div></div>
                </div>
                <div>
                    <div class="done progress-unit" ng-repeat="unit in i.completedArray"></div><div class="to-go progress-unit" ng-repeat="unit in i.remainderArray"></div>
                </div>
            </div>
        </div>

        <!-- detailed view of user's progress on the selected learning resource -->
        <div ng-hide="noteInProgress" class="section notebook">
            <div ng-show="advancementInProgress" class="advancement-form">
                <p>
                    <input type="text" ng-model="advancementAmount" style="width: 30px;">%
                </p>
            </div>
            <div ng-hide="advancementInProgress" class="button advancement-update" ng-click="advancementInProgress=true">update progress</div>
            <div ng-show="advancementInProgress" class="button advancement-save" ng-click="createAdvancement(notebookDetail.enrollment_id)">save</div>
            <div ng-show="advancementInProgress" class="button advancement-cancel" ng-click="advancementInProgress=false">cancel</div>
            <h2><a href="{{notebookDetail.url}}">{{notebookDetail.title}} - {{notebookDetail.percentage}}% completed</a></h2>
            <p>{{notebookDetail.description}}</p>
            <h3 class="notebook-subhead">Progress</h3>
            <p ng-show="notebookDetail.advancements.length === 0">You haven't made any progress on this course yet.</p>
            <ul>
                <li ng-repeat="item in notebookDetail.advancements">{{item.amount}}% on {{item.timestamp}}</li>
            </ul>
            <h3 class="notebook-subhead">Notes ({{notebookDetail.notes.length}})</h3>
            <div class="button new-note" ng-click="initNote(notebookDetail.enrollment_id)">new note</div>
            <p ng-show="notebookDetail.notes.length === 0">You haven't added any notes yet.</p>
            <div ng-repeat="post in notebookDetail.notes">
                <p class="post-date">{{post.timestamp}}</p>
                <div ng-bind-html-unsafe="post.text"></div>
                <hr/>
            </div>
        </div>
    </div>


    <div class="note-field-wrapper" ng-show="noteInProgress">
        <div ng-click="createNote()" class="button note-save">save</div>
        <div ng-click="exitNote()" class="button note-exit">exit</div>
        <div>
            <textarea ng-model="noteInProgress.text" class="note-field"></textarea>
        </div>
    </div>
</div>