<div ng-controller="dashCtrl" ng-show="sessionData.userIsLoggedIn" style="position:relative;">

    <div class="section" style="padding: 10px;" ng-show="notebookIndex.length === 0">
        There's nothing here yet. <a href="#/courses">Go enroll</a> in some courses!
    </div>

    <!-- column of progress bars -->
    <div ng-show="notebookIndex.length > 0">
        <div ng-hide="noteInProgress" class="progress-bars">
            <div class="progress-section" ng-repeat="i in notebookIndex" ng-click="selectNotebookItem($index)" ng-class="{selectedResource: uiControls.selectedNotebookItem===$index}">
                <div>
                    <div class="resource-header"><div class="resource-title" ng-bind="i.title"></div></div>
                </div>
                <div>
                    <div class="done progress-unit" ng-repeat="unit in i.completedArray"></div><div class="to-go progress-unit" ng-repeat="unit in i.remainderArray"></div>
                </div>
            </div>
        </div>

        <!-- detailed view of user's progress on the selected learning resource -->
        <div ng-hide="noteInProgress" class="section notebook" style="width: 740px;">

            <!-- PROGRESS UPDATE DIV -->
            <div ng-show="advancementInProgress" class="advancement-form">
                <p>
                    <input type="text" ng-model="advancementAmount" style="width: 30px;">%
                </p>
            </div>
            <div ng-hide="advancementInProgress" class="button advancement-update" ng-click="advancementInProgress=true">update progress</div>
            <div ng-show="advancementInProgress" class="button advancement-save" ng-click="createAdvancement(notebookDetail.enrollment_id)">save</div>
            <div ng-show="advancementInProgress" class="button advancement-cancel" ng-click="advancementInProgress=false">cancel</div>

            <!-- COURSE INFO -->
            <h2><a href="{{notebookDetail.url}}">{{notebookDetail.title}} - {{notebookDetail.percentage}}% completed</a></h2>
            <p ng-show="notebookDetail.advancements.length === 0">You haven't made any progress on this course yet.</p>

            <!-- PROGRESS CHART -->
            <div id="progressChart" ng-show="notebookDetail.advancements.length !== 0" style="height: 150px; margin-top: 30px; width: 730px;">
            </div>

            <!-- NOTES SECTION -->
            <h3 class="notebook-subhead">Notes ({{notebookDetail.notes.length}})</h3>
            <a href="pages/notebook.html?enrollment_id={{notebookDetail.enrollment_id}}" class="button new-note">new note</a>
            <p ng-show="notebookDetail.notes.length === 0">You haven't added any notes yet.</p>
            <div ng-repeat="note in notebookDetail.notes">
                <p class="post-date">{{note.timestamp}} - <a href="/pages/notebook.html?note_id={{note.id}}">edit this note</a></p>
                <div ng-bind="note.text"></div>
                <hr/>
            </div>
        </div>
    </div>

</div>