/* progress bars */
.resource-header h4 {
    margin-bottom: 0px;
}

.progress-section h4 {
    margin-top: 0px;
}

.progress-section {
    padding: 10px 0px 10px 10px;
    width: 160px;
    background-color: #e9e9e9;
    border-left: 10px solid lightgray;
    border-radius: 5px 0px 0px 5px;
    margin-bottom: 10px;
    margin-right: -2px;
}

.progress-bars {
    display: inline-block;
}

.progress-section .button {
    font-size: 11px;
    padding: 3px;
    letter-spacing: 1px;
    font-family: Arial;
}

.progress-unit {
    display: inline-block;
    width: 1px;
    height: 8px;
    margin: 10px 0px 0px 0px;
}

.done {
    background-color: #1eb69b;
}

.selectedResource .progress-unit.done {
    background-color: #2be7c6;
}

.to-go {
    background-color: #dadfe1;
}

.selectedResource {
    border-left: 10px solid #ff6666;
    background-color: white !important;
}

.resource-title {
    height: 19px;
    display: block;
    width: 155px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-family: 'Orienta';
}


/* notebook */

.notebook {
    display: inline-block;
    vertical-align: top;
    padding: 15px 20px 15px 22px;
    max-width: 738px;
    border-radius: 0px 5px 5px 5px;
    margin-left: -2px;
    position: relative;
    min-height: 600px;
}

.notebook h2 {
    margin-top: 0px;
}

.notebook-subhead {
    background-color: #ff6666;
    padding: 2px 4px 2px 4px;
    margin-bottom: 2px;
    margin-top: 25px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.post-date {
    font-weight: bold;
}

.advancement-form {
    position: relative;
    background-color: white;
    float: right;
    clear:both;
    width: 200px;
}

.advancement-form p {
    float: right;
    margin-top: 0px;
    margin-bottom: 5px;
}

.advancement-update {
    width: 120px;
    text-align: center;
    float: right;
    clear: both;
}

.advancement-save {
    text-align: center;
    float: right;
    margin-left: 0px;
    clear: both;
}

.advancement-cancel {
    text-align: center;
    float: right;
}

.new-note {
    float: right;
    margin-top: 10px !important;
}
