<!-- top nav -->
<div class="section top-nav">
    <div class="nav-link" ng-class="{selectedPill: navControls.selectedPanel==='dashboard'}" ng-click="navControls.selectedPanel='dashboard'">Dashboard</div>
    <div class="nav-link" ng-class="{selectedPill: navControls.selectedPanel==='resourceManager'}" ng-click="navControls.selectedPanel='resourceManager'">Resource Manager</div>
    <div class="nav-link" ng-class="{selectedPill: navControls.selectedPanel==='findResources'}" ng-click="navControls.selectedPanel='findResources'">Find Resources</div>
    <div class="nav-link" ng-class="{selectedPill: navControls.selectedPanel==='transcript'}" ng-click="navControls.selectedPanel='transcript'">Transcript</div>
    <a class="janrainEngage" href="#">Sign In</a>
</div>

<!-- resource manager (will eventually be its own template) -->
<div ng-controller="resourceCtrl" ng-show="navControls.selectedPanel==='resourceManager'">
    <div class="section resource-manager">
        <!-- table of existing resources -->
        <table>
            <tr>
                <td class="table-header">Name</td>
                <td class="table-header">URL</td>
                <td class="table-header">Difficulty</td>
                <td class="table-header">Free?</td>
                <td class="table-header">Tags</td>
                <td class="table-header">Description</td>
                <td class="table-header">Action</td>
            </tr>
            <tr ng-repeat="r in resources">
                <td><input type="text" ng-model="r.title" ng-change="r.hasUnsavedChanges=true"></td>
                <td><input type="text" ng-model="r.url" ng-change="r.hasUnsavedChanges=true"></td>
                <td><input type="text" ng-model="r.difficulty" ng-change="r.hasUnsavedChanges=true"></td>
                <td><input type="checkbox" ng-model="r.free" ng-change="r.hasUnsavedChanges=true"></td>
                <td>
                    <span class="tag" ng-repeat="tag in r.tags" ng-bind="tag"></span>
                    <a href="javascript:" ng-click="r.tagAddInProgress=true">+</a>
                        <span ng-show="r.tagAddInProgress">
                            <input type="text" ng-model="newTag">
                            <button type="submit" ng-click="r.tags.push(newTag); resetTagForms();">Submit</button>
                        </span>
                </td>
                <td><input type="text" ng-model="r.description" ng-change="r.hasUnsavedChanges=true"></td>
                <td><div class="button" ng-show="r.hasUnsavedChanges" ng-click="updateResource($index)">Save Changes</div>
                    <div class="button" ng-show="!r.hasUnsavedChanges" ng-click="uiControls.detailEditInProgress=true; uiControls.formData=r; uiControls.selectedResource=$index">Edit Details</div>
                    <div class="button" ng-click="deleteResource(r.id)">Delete</div></td>
            </tr>

            <!-- quick tr form to add a new resource -->
            <tr ng-show="!uiControls.detailEditInProgress">
                <form>
                    <td><input type="text" ng-model="uiControls.formData.title" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><input type="text" ng-model="uiControls.formData.url" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><input type="text" ng-model="uiControls.formData.difficulty" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><input type="checkbox" ng-model="uiControls.formData.free" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td>
                        <span class="tag" ng-repeat="tag in uiControls.formData.tags" ng-bind="tag"></span>
                        <a href="javascript:" ng-click="uiControls.formData.tagAddInProgress=true">+</a>
                        <span ng-show="uiControls.formData.tagAddInProgress">
                            <input type="text" ng-model="newTag">
                            <button type="submit" ng-click="uiControls.formData.tags.push(newTag); resetTagForms();">Submit</button>
                        </span>
                    </td>
                    <td><input type="text" ng-model="uiControls.formData.description" ng-change="uiControls.formData.hasUnsavedChanges=true"></td>
                    <td><div class="button" ng-show="uiControls.formData.hasUnsavedChanges" ng-click="addResource()">Save Changes</div></td>
                </form>
            </tr>
        </table>
    </div>

    <!-- detailed edit panel -->
    <div class="section resource-manager" ng-show="uiControls.detailEditInProgress">
        <form>
            <h3>Edit "{{uiControls.formData.name}}"</h3>
            <p>Name: <input type="text" ng-model="uiControls.formData.name" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
            <p>Difficulty: <input type="text" ng-model="uiControls.formData.url" ng-change="uiControls.formData.hasUnsavedChanges=true"></p>
            <p><input type="checkbox" ng-model="uiControls.formData.free" ng-change="uiControls.formData.hasUnsavedChanges=true"> This course is free</p>
            <p>Description:</p>
            <textarea ng-model="uiControls.formData.description" ng-change="uiControls.formData.hasUnsavedChanges=true"></textarea>
            </p>
            <p>Tags: <span class="tag" ng-repeat="tag in uiControls.formData.tags" ng-bind="tag"></span></p>
            </p>
                <a href="javascript:" ng-click="uiControls.formData.tagAddInProgress=true">Add tag</a>
                <span ng-show="uiControls.formData.tagAddInProgress">
                    <input type="text" ng-model="newTag">
                    <button type="submit" ng-click="uiControls.formData.tags.push(newTag); resetTagForms(); uiControls.formData.hasUnsavedChanges=true">Submit</button>
                </span>
            </p>
            <div class="button" ng-show="uiControls.formData.hasUnsavedChanges" ng-click="updateResource()">Save Changes</div>
        </form>
    </div>


</div>

<!-- dashboard (will eventually be its own template) -->
<div ng-controller="dashCtrl">

    <!-- column of progress bars -->
    <div ng-show="navControls.selectedPanel==='dashboard'" class="progress-bars">
        <div class="progress-section" ng-repeat="r in resources" ng-click="uiControls.selectedResourceIndex=$index" ng-class="{selectedResource: uiControls.selectedResourceIndex===$index}">
            <div>
                <div class="resource-header"><h4><span ng-bind="r.name"></span></h4></div>
            </div>
            <div style="clear: both;">
                <div class="done progress-unit" ng-repeat="unit in r.completedArray"></div><div class="to-go progress-unit" ng-repeat="unit in r.remainderArray"></div>
            </div>
        </div>
    </div>

    <!-- detailed view of user's progress on the selected learning resource -->
    <div class="section notebook" ng-show="navControls.selectedPanel==='dashboard'">
        <h2><a href="{{notebookResource.url}}">{{notebookResource.name}} ({{notebookResource.percentage}}%)</a></h2>
        <p>{{notebookResource.description}}</p>
        <h3 class="notebook-subhead">Recent Progress</h3>
        <ul>
            <li ng-repeat="item in recentProgress">{{item.percentage}}% on {{item.date}}</li>
        </ul>
        <h3 class="notebook-subhead">Notes</h3>
        <div ng-repeat="post in notebookPosts">
            <p class="post-date">{{post.date}}</p>
            <p>{{post.text}}</p>
            <hr/>
        </div>
    </div>
</div>

